<!DOCTYPE html>
<html lang="id">
<head>
    <title>Cari Makan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css"
          integrity="sha512-kJ30H6g4NGhWopgdseRb8wTsyllFUYIx3hiUwmGAkgA9B/JbzUBDQVr2VVlWGde6sdBVOG7oU8AL35ORDuMm8g=="
          crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/regular.min.css"
          integrity="sha512-rVrbAp27ffQyFnzJ/aC5fZv9JgvL6cdB4zsL5HmM+DhJdzThc/F//62SJF+CaGiOZTP35e1p8JGcc+zRRVuhRw=="
          crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/solid.min.css"
          integrity="sha512-SazV6tF6Ko4GxhyIZpKoXiKYndqzh7+cqxl9HDH7DGSpjkCN3QLqTAlhJHJnKxu3/2rfCsltzwFC4CmxZE1hPg=="
          crossorigin="anonymous" />
</head>
<body class="bg-secondary">
<a class="skip-content" href="#main-content">Skip to content</a>
<header class="navbar-fixed">
    <nav role="navigation">
        <div class="nav-wrapper container">
            <a aria-label="menu" id="burger-button" href="javascript:void(0);" class="sidenav-trigger">☰</a>
            <a href="/" class="brand-logo"><h1 class="title-text">Cari Makan</h1></a>
            <ul class="hide-on-med-and-down">
                <li><a class="white-text" href="#/">Home</a></li>
                <li><a class="white-text" href="#/favorite">Favorite</a></li>
                <li><a class="white-text" href="https://github.com/KangAgung">About</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav hide-on-large-only" id="navbar-drawer">
        <li><a class="white-text" href="#/">Home</a></li>
        <li><a class="white-text" href="#/favorite">Favorite</a></li>
        <li><a class="white-text" href="https://github.com/KangAgung">About</a></li>
    </ul>
</header>
<main id="main-content">

</main>
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2020 Cari Makan
        </div>
    </div>
</footer>
<noscript>
    Please enable JavaScript to continue using this application.
</noscript>
</body>
</html>